<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <div>
        <h3>Formulario GET</h3>
        <form action="" method="get">
            <input type="text" name="pesquisa">
            <button type="submit">Enviar</button>
        </form>
        <br><br>
        {{ pesquisa }}
        
    </div>
    <br><br>
    <div>
        <h3>Formulario POST</h3>

        <form method="post">
            <h5>Nome</h5>
            <input type="text" name="Nome">

            <h5>Email</h5>
            <input type="text" name="Email">

            <h5>Assunto</h5>
            <input type="text" name="Assunto">

            <h5>Mensagem</h5>
            <input type="text" name="Mensagem">

            <button type="submit">Enviar</button>
        </form>

    </div>
</body>
</html>